@font-face {
    font-family: "function";
    src: url(./Function\ Regular.ttf);
}

@font-face {
    font-family: "itc";
    src: url(./TEMPSITC.ttf);
}

@font-face {
    font-family: "playfair";
    src: url(./PlayfairDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: "redhat";
    src: url(./RedHatDisplay-ExtraBold.ttf);
}

